---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
const writings = await getCollection("writings");
---

<Layout title="writings">
    <div class="wrapper">
        <div class="content">
            <h1>posts</h1>
            <ul>
                {writings.map(writing => {
                    return ( 
                        <li>
                            <a href={`/posts/${writing.slug}`} class="post-card">
                                <div class="post-data">
                                    <p class="post-title">{writing.data.title}</p>
                                    <p class="post-description">{writing.data.description}</p>
                                </div>
                                <div class="post-meta">
                                    <p class="posted">posted {writing.data.date}</p>
                                    {writing.data.updated_at && <p class="updated">updated {writing.data.updated_at}</p>}
                                </div>
                            </a>
                        </li>
                    )
                })}
            </ul>
        </div>
    </div>
</Layout>

<style>
    hr {
        margin: 1.5rem 0;
    }

    h1 {
        margin-bottom: 1.5rem;
        font-size: 2rem;
        font-weight: normal;
        text-align: center;
    }

    ul {
        text-decoration: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content {
        width: inherit;
    }

    .post-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        padding: 1rem;

        .post-data {
            flex: 3;
            display: flex;
            align-items: inherit;
        }

        .post-title {
            font-size: 1.25rem;
            flex: 1;
        }

        .post-description {
            flex: 4;
        }

        .post-meta {
            flex: 1;
            font-size: 0.75rem;
        }
        
        &:hover {
            text-decoration: none;
            border-bottom: 1px solid var(--text);
        }
    }
</style>