---
import Github from "./atoms/github.astro";
import Linkedin from "./atoms/linkedin.astro";
import DarkSubway from "./atoms/dark-subway.svg";
import LightSubway from "./atoms/light-subway.svg";
---

<div class="footer-subway-wrapper">
    <div class="footer-subway-tunnel"></div>
    <div class="footer-subway">
        <img data-train="dark" class="footer-subway-car" src={DarkSubway.src} width={DarkSubway.width} height={DarkSubway.height} />        
        <img data-train="light" class="footer-subway-car" src={LightSubway.src} width={LightSubway.width} height={LightSubway.height} />
    </div>
</div>
<footer class="footer pdtb-1rem">
    <div class="footer-spotify">
        <img src='data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=' class="footer-spotify-album"/>
        <div class="spotify-info-wrapper">
            <div class="dark-gradient"></div>
            <div class="light-gradient"></div>
            <div class="footer-spotify-info">
                <div id="currentSong">nothing playing</div>
                <div id="currentArtist">at the moment</div>    
            </div>
        </div>
    </div>
    <div class="footer-socials">
        <a href="https://www.linkedin.com/in/joseph-e-conway/" target="_blank" class="footer-img">
            <Linkedin />
        </a>
        <a href="https://github.com/kiabq" target="_blank" class="footer-img">
            <Github />
        </a>
    </div>
</footer>